@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir-Medium.ttf');
    src: url('../fonts/Vazir-Medium.eot');
    src: url('../fonts/Vazir-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Vazir-Medium.woff') format('woff'), url('../fonts/Vazir-Medium.ttf') format('truetype');
}

// @font-face {
//     font-family: Vazir;
//     src: url('../../assets/fonts/vazir/Vazir-FD.eot');
//     src: url('../../assets/fonts/vazir/Vazir-FD.eot?#iefix') format('embedded-opentype'), url('../../assets/fonts/vazir/Vazir-FD.woff') format('woff'), url('../../assets/fonts/vazir/Vazir-FD.ttf') format('truetype');
//     font-weight: normal;
// }
