// ----------------------------------------------------------------------
	// Layout Breakpoints
// ----------------------------------------------------------------------
$maxWidth: 1024px;


// ----------------------------------------------------------------------
	// Font Sizes
// ----------------------------------------------------------------------
$regularSize: 16px;


// ----------------------------------------------------------------------
	// Font Families
// ----------------------------------------------------------------------
$mainFont: Vazir, Tahoma, Arial, sans-serif;
$footerFont: tahoma;


// ----------------------------------------------------------------------
  // Default Colors
// ----------------------------------------------------------------------
$textColor: #3e3e3e;
$ThemeColor: #87bd25;
$productsContainerColor: #f1f1f1;

//search input
$searchBorderColor: #b8c7d0;
$searchPalaceholderColor: #bfbfbf;

// footer
$footerBackgroundColor: #3d3a33;
$footerTextColor: #646464;
$footerLinkColor: #959595;
$footerHoverLinkColor: #cccccc;
