// File Name: _header.scss
// Description: global header styles
// Used by: Page.scss
// Dependencies:
// ------------------------------------------------------------
/* main navigation */
.container__header{
    background: white;
    height: 120px;
    border-bottom: 4px solid $ThemeColor;
    .navbar {
        z-index: 1000;
        background: white;
        border: none;

        .icon-bar { 
            background-color: #4d4d4d; 
        }
        
        a{
            color:$textColor;
            img{
                height: 114px;
            }
        }

        ul {
            margin-top: 66px;
            margin-right: -35px;
            float: right;
            li.active{
                background: $ThemeColor;
            }
        }
        form{
            top: 0;
            right: 0;
            position: absolute;
            padding: 0;
            
            .search-input{
                border: 1px solid $searchBorderColor;
                border-radius: 0;
                width: 172px !important;
                font-family: Tahoma;
                font-size: 12px;

                // ------------placeholder text color
                &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
                    color:    $searchPalaceholderColor;
                }
                &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                color:    $searchPalaceholderColor;
                opacity:  1;
                }
                &::-moz-placeholder { /* Mozilla Firefox 19+ */
                color:    $searchPalaceholderColor;
                opacity:  1;
                }
                &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                color:    $searchPalaceholderColor;
                }
                &::-ms-input-placeholder { /* Microsoft Edge */
                color:    $searchPalaceholderColor;
                }
                
                &::placeholder { /* Most modern browsers support this now. */
                color:    $searchPalaceholderColor;
                }
            }
            .search-icon{
                float: left;
                position: absolute;
                left: 0px;
                z-index: 4;
                top: 2px;
            }
        }//form
    }//.navbar
}//.container__header