@font-face {
  font-family: Vazir;
  src: url("../fonts/Vazir-Medium.ttf");
  src: url("../fonts/Vazir-Medium.eot");
  src: url("../fonts/Vazir-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Vazir-Medium.woff") format("woff"), url("../fonts/Vazir-Medium.ttf") format("truetype");
}

body {
  font-size: 16px;
  font-family: Vazir, Tahoma, Arial, sans-serif;
  color: #3e3e3e;
}

.container {
  max-width: 1024px;
}

.content__container {
  text-align: left;
  padding: 30px;
  padding-bottom: 0px;
}

.content__container img {
  width: 100%;
  min-height: 152px;
  -webkit-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
}

.content__container img:hover {
  -webkit-box-shadow: inset 0 150px 0 0 white;
          box-shadow: inset 0 150px 0 0 white;
}

.content__container a {
  color: #3e3e3e;
  text-decoration: none;
  line-height: 40px;
  display: block;
}

.content__container .row > div {
  padding-left: 5px;
  padding-right: 5px;
  font-size: 14px;
  padding-bottom: 10px;
}

.content__container .content-camera {
  background: #fa6800;
}

.content__container .content-camera:hover {
  content: url("../images/camera-hover.png");
}

.content__container .content-network {
  background: #1ba1e2;
}

.content__container .content-network:hover {
  content: url("../images/network-hover.png");
}

.content__container .content-fire {
  background: #9f00c4;
}

.content__container .content-fire:hover {
  content: url("../images/fire-hover.png");
}

.content__container .content-wireless {
  background: #d80073;
}

.content__container .content-wireless:hover {
  content: url("../images/wireless-hover.png");
}

.content__container .content-products {
  background: #b617d3;
}

.content__container .content-products:hover {
  content: url("../images/products-hover.png");
}

.content__container .content-cv {
  background: #4fc736;
}

.content__container .content-cv:hover {
  content: url("../images/cv-hover.png");
  -webkit-box-shadow: inset 0 150px 0 0 white;
          box-shadow: inset 0 150px 0 0 white;
}

.content__container .content-about {
  background: #fe9f09;
}

.content__container .content-about:hover {
  content: url("../images/about-hover.png");
  -webkit-box-shadow: inset 0 150px 0 0 white;
          box-shadow: inset 0 150px 0 0 white;
}

.content__container .content-contact {
  background: #c40023;
}

.content__container .content-contact:hover {
  content: url("../images/contact-hover.png");
  -webkit-box-shadow: inset 0 150px 0 0 white;
          box-shadow: inset 0 150px 0 0 white;
}

.products__container {
  background: #f1f1f1;
}

.products__container h2 {
  font-size: 20px;
  margin: 0;
  padding: 13px 0px;
  display: inline-block;
  border-bottom: 4px solid #87bd25;
}

.products__container hr {
  margin: 0;
  border: 1px solid #cfcfcf;
  padding: 0px;
}

.products__container > div > div {
  font-size: 11px;
  padding: 20px 0;
  font-family: Tahoma;
}

/* main navigation */
.container__header {
  background: white;
  height: 120px;
  border-bottom: 4px solid #87bd25;
}

.container__header .navbar {
  z-index: 1000;
  background: white;
  border: none;
}

.container__header .navbar .icon-bar {
  background-color: #4d4d4d;
}

.container__header .navbar a {
  color: #3e3e3e;
}

.container__header .navbar a img {
  height: 114px;
}

.container__header .navbar ul {
  margin-top: 66px;
  margin-right: -35px;
  float: right;
}

.container__header .navbar ul li.active {
  background: #87bd25;
}

.container__header .navbar form {
  top: 0;
  right: 0;
  position: absolute;
  padding: 0;
}

.container__header .navbar form .search-input {
  border: 1px solid #b8c7d0;
  border-radius: 0;
  width: 172px !important;
  font-family: Tahoma;
  font-size: 12px;
}

.container__header .navbar form .search-input::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #bfbfbf;
}

.container__header .navbar form .search-input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #bfbfbf;
}

.container__header .navbar form .search-input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #bfbfbf;
}

.container__header .navbar form .search-input::placeholder {
  /* Most modern browsers support this now. */
  color: #bfbfbf;
}

.container__header .navbar form .search-icon {
  float: left;
  position: absolute;
  left: 0px;
  z-index: 4;
  top: 2px;
}

.footer__container {
  background: #3d3a33;
  padding: 25px 0px 10px;
  color: #646464;
  font-size: 11px;
  font-family: tahoma;
  /* footer right */
  /* footer left */
}

.footer__container .footer-right nav {
  display: inline-block;
  width: 100%;
}

.footer__container .footer-right nav ul li {
  list-style: none;
  display: inline;
  margin: 10px;
  float: right;
}

.footer__container .footer-right nav ul li a {
  color: #959595;
}

.footer__container .footer-right nav ul li a:hover {
  text-decoration: none;
  color: #cccccc;
}

.footer__container .footer-left {
  padding: 0px;
}

.footer__container .footer-left li {
  /*social icons*/
  list-style-type: none;
  width: 23px;
  height: 23px;
  display: inline-block;
}

.footer__container .footer-left li img {
  position: absolute;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.footer__container .footer-left li img:hover {
  opacity: 0.5;
}

.footer__container .footer-left li img.facebook {
  clip: rect(0px, 23px, 23px, 0px);
}

.footer__container .footer-left li img.twitter {
  clip: rect(0px, 49px, 23px, 25px);
  margin-left: -24px;
}

.footer__container .footer-left li img.gplus {
  clip: rect(0px, 73px, 23px, 50px);
  margin-left: -48px;
}

.footer__container .footer-left li img.youtube {
  clip: rect(0px, 99px, 23px, 76px);
  margin-left: -73px;
}

.footer__container .footer-left li img.rss {
  clip: rect(0px, 124px, 23px, 101px);
  margin-left: -97px;
}

/*Header navigation item direction*/
header .navbar .form-control {
  direction: rtl;
}

.content__container, .products__container {
  direction: rtl;
  text-align: right;
}

@media (min-width: 768px) {
  .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
    float: right;
  }
}

@media (max-width: 992px) {
  .container__header .navbar ul {
    margin-top: 76px;
  }
  .container__header .navbar ul > li > a {
    font-size: 15px;
    padding: 10px 7px;
  }
  .content__container img {
    min-height: 108px;
  }
  .content__container img:hover {
    -webkit-box-shadow: inset 0 106px 0 0 white;
            box-shadow: inset 0 106px 0 0 white;
  }
}

@media (max-width: 767px) {
  .container__header {
    height: 56px;
  }
  .container__header .navbar .navbar-left img {
    height: 50px;
  }
  .container__header ul.navbar-nav {
    margin: 7.5px -15px !important;
    float: unset !important;
  }
  .container__header form.navbar-form {
    top: unset;
    right: unset;
    position: unset;
  }
  .content__container img:hover {
    -webkit-box-shadow: inset 0 460px 0 0 white;
            box-shadow: inset 0 460px 0 0 white;
  }
}

@media (min-width: 767px) {
  .container__header ul.navbar-nav li {
    float: right !important;
  }
}
/*# sourceMappingURL=styles.css.map */